.Rproj.user
.Rhistory
.RData
.Ruserdata
Workshop 1 Andreas.Rmd
Assignment 1.Rmd
Kristoffer Workshop 2.Rmd
.yg821jf8611_ri_statewide_2020_04_01.csv.zip.icloud
yg821jf8611_ri_statewide_2020_04_01.csv.zip
